.sconsign.dblite
#binaries and libraries
lib
bin
*.o
*.os
*.so
#Evio files - may be here for tests
*.evio.*
*.evio
#Root files - may be here for tests
*.root

#compiled python
*.pyc

#ccdb file
calib/ccdb.calib
