.sconsign.dblite
#binaries and libraries
lib
bin
*.o
*.os
*.so
#Evio files - may be here for tests
*.evio.*
*.evio
#Root files - may be here for tests
*.root

#compiled python
*.pyc

#ccdb file
calib/ccdb.calib
#IDE stuff
.project
.cproject
#root Dictionary files
*Dict*

#pedestal files - don't want these on github
calib/DAQ_pedestals/*
#calib/DAQ_parms/*

#Backups
*~
##Compilation stuff
**/.Linux-x86_64-dbg/*
**/.Linux_x86_64/*
**/.Darwin_x86_64/*
**/.Darwin_x86_64-dbg/*