#Configuration file for BDX run.

#System parameters
MC		0
JANA_CALIB_CONTEXT "variation=Catania0"
THREAD_TIMEOUT 60
THREAD_TIMEOUT_FIRST_EVENT 60
#IntVeto parameters
INTVETO:MIN_TOT  12    #min tot in ns to consider a pulse
INTVETO:THR	 1.5   #min amplitude of a pulse -in phe units
INTVETO:NSB	 20    #num of samples before the maximum
INTVETO:NSA	 30    #num of samples after  the maximum

INTVETO:HIT_THR_SINGLE  5   #thr in phe charge for a detector with single readout
INTVETO:HIT_THR_MULTI   3   #thr in phe charge for a detector with multiple readout
INTVETO:HIT_N_MULTI     2   #multiplicity for a detector with multi readout

INTVETO:HIT_BOTTOM_WORKAROUND 1 #the work-around for the bottom plate (sector=layer=0 component=3), that is seen as a single object but is separate
INTVETO:VERBOSE  2

#ExtVeto parameters
EXTVETO:VERBOSE	2

#Calorimeter parameters
CALORIMETER:THR		       8	#min amplitude of a pulse - in mV
CALORIMETER:MIN_TOT            12
CALORIMETER:NSB		       10	#num of samples before the maximum
CALORIMETER:NSA		       20 	#num of samples after  the maximum 
CALORIMETER:SINGLE_SIGNAL_TOT  120
CALORIMETER:HIT_THR_SINGLE  5  #thr in phe charge for a detector with single readout
CALORIMETER:HIT_THR_MULTI   3  #thr in phe charge for a detector with multiple readout
CALORIMETER:HIT_N_MULTI     2  #multiplicity for a detector with multi readout

CALORIMETER:CLUSTER_HIT_THR  20  #threshold on hits - in MeV
CALORIMETER:CLUSTER_SEED_THR 50  #threshold on hits - in MeV
CALORIMETER:CLUSTER_POS_W0   3.1 #the w0 factor in the cluster position determination. HPS note 2014-002
CALORIMETER:VERBOSE 2

